[submodule "streamparser"]
	path = streamparser
	url = git@github.com:apertium/streamparser.git
	branch = master
[submodule "apertium-html-tools"]
	path = apertium-html-tools
	url = git@github.com:apertium/apertium-html-tools.git
	branch = master
[submodule "patcher"]
	path = patcher
	url = git@github.com:apertium/patcher.git
	branch = master
[submodule "apertium-apy"]
	path = apertium-apy
	url = git@github.com:apertium/apertium-apy.git
	branch = master
[submodule "pairviewer"]
	path = pairviewer
	url = git@github.com:apertium/pairviewer.git
	branch = master
[submodule "phenny"]
	path = phenny
	url = git@github.com:apertium/phenny.git
	branch = master
[submodule "apertium-init"]
	path = apertium-init
	url = git@github.com:apertium/apertium-init.git
	branch = master
[submodule "apertium-on-github"]
	path = apertium-on-github
	url = git@github.com:apertium/apertium-on-github.git
	branch = master
[submodule "family-visualizations"]
	path = family-visualizations
	url = git@github.com:apertium/family-visualizations.git
	branch = master
[submodule "apertium-simpleton"]
	path = apertium-simpleton
	url = git@github.com:apertium/apertium-simpleton.git
	branch = master
[submodule "apertium-stats-service"]
	path = apertium-stats-service
	url = git@github.com:apertium/apertium-stats-service.git
	branch = master
[submodule "apertium-packaging"]
	path = apertium-packaging
	url = git@github.com:apertium/apertium-packaging.git
	branch = master
[submodule "lttoolbox-java"]
	path = lttoolbox-java
	url = git@github.com:apertium/lttoolbox-java.git
	branch = master
[submodule "apertium-quality"]
	path = apertium-quality
	url = git@github.com:apertium/apertium-quality.git
	branch = master
[submodule "apertium-weights-learner"]
	path = apertium-weights-learner
	url = git@github.com:apertium/apertium-weights-learner.git
	branch = master
[submodule "WikiExtractor"]
	path = WikiExtractor
	url = git@github.com:apertium/WikiExtractor.git
	branch = master
[submodule "apertium-c-formatters"]
	path = apertium-c-formatters
	url = git@github.com:apertium/apertium-c-formatters.git
	branch = master
[submodule "apertium-dixtools"]
	path = apertium-dixtools
	url = git@github.com:apertium/apertium-dixtools.git
	branch = master
[submodule "docker"]
	path = docker
	url = git@github.com:apertium/docker.git
	branch = master
